.carousel .control-dots{
    margin-left: 600px;
    margin-bottom: 0px;
 }
 .carousel .control-arrow .control-prev ::after{
      color: black;
 }
 .business-list::-webkit-scrollbar {
     display: none;
   }