.live{
    background-color: #EF4F4F;
    
    padding: 10px;
}
.head{
    font-size: 25px;
    color: white;
}
.ongoing{
    background-color:#C9ECD1 ;
    margin-left: 20px;
}
.badges a{
    width: 100px;
    background-color: #D4F1F3;
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #56b2b9;
    margin-right: 20px;
}
.footer{
    margin-right: 50px;
}
div{
    list-style: none;
  }
  
div li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .bullet{
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
    color: white;
    font-size: 22px;
    letter-spacing: none;
    
  }
  .schedule{
      margin-top: 20px;
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 500;
  }
  .week a{
      background-color: #F4F4F4;
      padding: 20px;
      border-radius: 4px;
      width: 80px;
      text-decoration: none;
      color: gray;

  }
  .week a:hover{
      color: black;
  }
  .week{
      margin-bottom: 30px;
  }
  .active3{
      background-image: linear-gradient(#E76AAC,#E76AAC,#E76AAC);
      color: white;
      text-decoration: none;
      
  }
  .imageselect{
      margin-bottom: 20px;
  }
  .imagesBadge p{
    width: 70px;
    background-color: #D4F1F3;
    border-radius: 12px;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    color: #56b2b9;
    margin-top: 0px;
    font-size: 14px;
   
}
.imagesBadge{
    margin-top: 10px;
}
.notifyme{
    width: 70px;
    background-color: #D4F1F3;
    border-radius: 4px;
    text-align: center;
    color:#E8078F;
    background-color: #F7D2E5;
    text-transform: uppercase;
    width: 100px;
    padding: 1px 10px 1px 10px;
}
.time{
    font-size: 10px;
    color:#E8078F;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}
.am{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
}
.v1{
    border-left: 1px solid #F4F4F4;
    height: 550px;
    margin-top: 18px;
}
.week::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 1270px) and (min-width: 320px)  {
    .c{
        flex-shrink: initial;
    }
  }
@media (max-width: 768px) {
    .live-show-image {
        text-align: center;
    }
}
