.innerm{
    width: 100px;
    margin-right:20px;
    background-color: #D4F1F3;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #56b2b9;
    cursor:pointer;
}
.innerm:hover{
    background-color: #56b2b9;
    color: white;
}
/*currently active submenu*/
.active{
    background-color: #56b2b9;
    color:white;
}
.submenu {
    width: 100px;
    margin-right:20px;
    background-color: #D4F1F3;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #56b2b9;
    cursor:pointer;
}
.submenu link:hover{
    background-color: blue;
    color: white;
}
@media screen and (max-width: 500px) {
    .innerm{
      float: none;
      display: block;
    }
  }